---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'
---

<Layout title="Jack's Homepage">
	<main class="w-screen h-screen bg-slate-900 flex flex-col content-center">
    <div class="flex flex-row content-center justify-end py-2 px-5">
      <p id="weather_temp" class="text-white text-3xl text-end">0°</p>
    </div>
    <div class="my-auto space-y-8">
      <div class="flex flex-col content-center">
        <div id="clock" class="text-white font-ps text-center text-6xl font-bold">-</div>
      </div>
      <div class="flex flex-col content-center space-y-3">
        <div class="flex content-center">
          <input id="search" type="text" class="w-1/3 mx-auto rounded-full px-4 py-1" oninput="searchPredictions()">
        </div>
        <div class="flex content-center mx-auto">
          <select name="serachEngines" id="serachEngines">
            <option value="duckduckgo">DuckDuckGo</option>
            <option value="google">Google</option>
          </select>
        </div>
      </div>
    </div>
	</main>
</Layout>

<script defer lang="js">

  // Main function
  (() => {
      let config = JSON.parse(localStorage.getItem("config"));

      if(!config){
        config = {};

        navigator.geolocation.getCurrentPosition((position) => {
          const {latitude, longitude} = position.coords;
          config.geo = {latitude, longitude};
          localStorage.setItem('config', JSON.stringify(config));
      })
    };
  })();

  // Clock
  const setClock = () => {
    const now = new Date();
    const [time, period] = now.toLocaleTimeString().split(' ');
    const [h, m, s] = time.split(':');
    document.getElementById('clock').innerHTML = `${h}:${m} ${period}`;
  }

  setClock();

  setInterval(() => {
    setClock();
  }, 1000 * 60);

  // Search event
  document.addEventListener('keypress', function (event) {
    if (event.key === 'Enter') {

      const serachEngine = document.getElementById('serachEngines').value;
      const searchQuery = document.getElementById('search').value.replace(" ", "+");

      if(serachEngine == "duckduckgo"){
        window.location.href = `https://duckduckgo.com/?q=${searchQuery}`;
      } else if (serachEngine == "google"){
        window.location.href = `https://www.google.com/search?q=${searchQuery}`;
      }
    }
  });

  // Weather forcast
  (async () => {
    const config = JSON.parse(localStorage.getItem("config"));
    const response = await fetch(`https://api.open-meteo.com/v1/forecast?latitude=${config.geo.latitude}&longitude=${config.geo.longitude}&current_weather=${true}`);
    const jsonData = await response.json();

    document.getElementById('weather_temp').innerHTML = `${Math.round(jsonData.current_weather.temperature)}°`;

    const weatherCodeIcon = {
      0: 'weather-sunny',
      1: 'weather-sunny',
      2: 'weather-partly-cloudy',
      3: 'weather-partly-cloudy',
      45: 'weather-fog',
      48: 'weather-fog',
      51: 'weather-rainy',
      53: 'weather-rainy',
      55: 'weather-rainy',
      56: 'weather-snowy-rainy',
      67: 'weather-snowy-rainy',
      61: 'weather-pouring',
      63: 'weather-pouring',
      65: 'weather-pouring',
      66: 'weather-snowy-rainy',
      67: 'weather-snowy-rainy',
      71: 'weather-snowy',
      73: 'weather-snowy-heavy',
      75: 'weather-snowy-heavy',
      77: 'weather-snowy-heavy',
      80: 'weather-pouring',
      81: 'weather-pouring',
      82: 'weather-pouring',
      85: 'weather-snowy',
      86: 'weather-snowy',
      95: 'weather-lightning',
      96: 'weather-lightning-rainy',
      99: 'weather-lightning-rainy',
    }
  })();
</script>
